{% extends "base.html.twig" %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, rem! Labore odit iusto voluptatum consequuntur, natus quam possimus vitae. Adipisci suscipit sed nisi molestiae laboriosam, inventore accusamus ipsa asperiores obcaecati eligendi cum natus, ad, doloribus ex repellat velit ut vero!</p>
    <p>Autem sequi quam architecto tempore eaque nisi corrupti perspiciatis, quod at quos fugit mollitia ut dolores qui id vel cupiditate? Laborum ut eos iste tempore modi iure id. Minima voluptates doloremque debitis inventore vero qui tempore fuga animi nihil nulla!</p>

{% endblock %}